body {
    margin: 6px;
}

.fixed-image {
    position: fixed;
    top: 70px;
    right: 15px;
    width: 110px;
    border: 1px solid gray;
    background-color: white;
}

.fixed-image img {
     width: 110px;
    height: 350px;
}

